/* FONTS */

@import url('fondamento.css');


/* STYLING */

:root {
    --dark-color-a: #1bb0d1;
    --dark-color-b: #6dcbe1;
    --light-color: #edfcff;
    --button-color: #000;
    --button-hover-color: #222;
    --dark-color-a-transparent: rgba(27, 176, 209, 0.4);
}

* {
    margin: 0;
    padding: 0;

    font-family: 'Fondamento', cursive;
    color: #fff;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    background-image: url(/img/background.png);
    background-size: cover;
}

h1 {
    line-height: 128px;
    font-size: 128px;
}

h2 {
    line-height: 64px;
    font-size: 64px;
}

h3 {
    line-height: 32px;
    font-size: 32px;
}

a, button {
    cursor: pointer;
}

button {
    font-size: 32px;
    padding: 8px 16px;
    background: var(--button-color);
    color: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
}

button:hover {
    background: var(--button-hover-color);
}

input {
    background-color: #000;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #fff;
}

.h100 {
    height: 100%;
}

.h100vh {
    min-height:100vh
}

.w100 {
    width: 100%;
}

.m32 {
    margin: 32px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

.g32 {
    gap: 32px;
}

.g16 {
    gap: 16px;
}

.shadow {
    -webkit-filter: drop-shadow(5px 5px 5px #000);
    filter: drop-shadow(5px 5px 5px #000);
}

.player-image {
    width: 256px;
    height: 256px;
    border-radius: 128px;
    margin-bottom: 12px;
}

#title {
    order: 0;
}

#points {
    order: 1;
}


/* ANIMATIONS */

*[id^='section'] {
    opacity: 1;
    animation: fade-in 1s ease-in-out;
}

.opacity0animation {
    opacity: 0;
    animation: fade-out 1s ease-in-out;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
